streamlit
Pillow
reportlab
pytesseract
opencv-python-headless
numpy
extra-streamlit-components
azure-ai-documentintelligence
azure-core
supabase
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
pypdfium2
